<div>
    <div class="row">
      <div class="col-7">
        <h4>Add Group</h4>
      </div>
    </div>
    <hr>
</div>
<form class="form-horizontal" #myForm="ngForm" class="myForm"  ngNativeValidate>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="form-group row">
            <label for="name" class="col-md-1.5 control-label">Name:</label>
            <div class="col-md-4">
              <input class="form-control" name="groupName" id="groupName"  [(ngModel)]='groupData.Name' required>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <input type="checkbox" class="user" id="user" checked disabled><label class="col-md-1.5" name="user">{{currentUserName}}</label>
          </div>
        </div>
      <div class="row" *ngFor="let friend of friends">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <input #mybox type="checkbox" class="friends" id="friends" (change)="onSelect(mybox.checked, friend.id)">
            <label class="col-md-1.5" name="user">{{friend.name}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary" (click)='add()'>Save</button>
        </div>
      </div>
    </div>
  </form>


