<div class="row">
    <div class="col-7">
      <h2>Dashboard</h2>
    </div>
    <div class="col-2.5">
      <a [routerLink]="['/start-up/home/expense-info']"><button class="btn btn-primary expenseButton">Add an expense</button></a>
    </div>
    <div class="col-2">
        <a [routerLink]="['/start-up/home/settlement']"><button class="btn btn-primary settleUp">Settle up</button></a>
    </div>
  </div>
  <hr>
  
  <!--<div class="row centre-col">
    <div class="col-4">
      <label>Balance</label>
    </div>
    <div class="col-4">
      <label>You Owe</label>
    </div>
    <div class="col-4">
      <label>You Lent</label>
    </div>
  </div>
  <div class="row centre-col">
    <div class="col-4" >
  
      Balance Amount
    </div>
    <div class="col-4 owe">
  
      Owed Amount
    </div>
    <div class="col-4 owed">
  
      Lent Amount
    </div>
  </div>
  <hr>-->
  
  <div>
    <table class="table">
      <thead>
          <tr>
              <th scope="col">Total balance : <span [ngClass]="{'text-success': (totalLent - totalOwed)>0, 'text-danger':(totalLent - totalOwed)<0}">{{totalLent - totalOwed | number : '1.2-2'}}</span></th>
              <th scope="col">You owe : <span class="text-danger">{{totalOwed | number : '1.2-2'}}</span></th>
              <th scope="col">You are owed : <span class="text-success">{{totalLent | number : '1.2-2'}}</span></th>
          </tr>
      </thead>
  </table>
  </div>
  <div class="row centre-col">
    <div class="col-6">
      <label>You Owe</label>
      <ul class="list-group">
        <li class="list-group-item owe">Owe</li>
      </ul>
    </div>
    <div class="col-6">
      <label>You Lent</label>
      <ul class="list-group">
        <li class="list-group-item owed">Lent</li>
      </ul>
    </div>
  </div>
  <br>
 
  