
<div  class="base">
    <div class="container-fluid">
      <nav id="sideNav" class="col-lg-3">
      
        <br>
        <div><h5><b>Welcome, {{name}}</b></h5></div>
        <br>
        <div>
          <button type="submit" class="btn btn-secondary" (click)="logout()">Log-out</button>
        </div>
        <br>
        <ul>
           
          <a [routerLink]="['dashboard']">
            <li>Dashboard</li>
          </a>
          <a [routerLink]="['all-expenses']">
            <li>All Expenses</li>
          </a>
          <h6 class="forGroup">Groups
            &nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['groupAdd']"><span class="badge badge-secondary"><i class="fa fa-plus-square"></i>+add</span></a></h6>
          <p *ngFor='let group of groups' [routerLink]="['group-info',group.id]" routerLinkActive="router-link-active">
            <li><i class="material-icons">
              {{group.name}}
              </i></li>
            </p>
         
          <h6>Friends
            &nbsp;&nbsp;&nbsp;&nbsp;<a><span class="badge badge-secondary"><i class="fa fa-plus-square"></i>+add</span></a></h6>
          
          <a *ngFor='let friend of friends' [routerLink]="['friend-info',friend.id]" routerLinkActive="router-link-active">
            <li><i class="material-icons">
              {{friend.name}}
              </i></li>
          </a>
          </ul>
      </nav>
    </div>
    <br>
    </div>
    <div id="mainContent" class="col-lg-9">
        <router-outlet></router-outlet>
      </div>

