<div>
  <div class="row">
    <div class="col-7">
      <h2>Add expense</h2>
    </div>
  </div>
  <hr>
  <form class="form-horizontal" #myForm="ngForm" class="myForm"  ngNativeValidate>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="form-group row">
            <label for="members" class="col-md-1.5 control-label">With You and</label>
            <div class="col-md-2">
              <select #sel class="form-control" *ngIf="this.isIndividual==true" id="members" name="friends"
                (change)="addUser(sel.value)" [(ngModel)]="this.selectedFriend.id">
                <option value="" disabled selected>--Select--</option>
                <option *ngFor="let friend of friends" [value]="friend.id">{{friend.name}}</option>
              </select>
            </div>
            <div class="col-md-2"></div>
            <label for="groups" class="col-md-1.5 control-label">Group:</label>
            <div class="col-md-3">
              <select class="form-control" [(ngModel)]="expenseData.GroupId" (change)="loadPaid()" name="groups"
                id="groups">
                <option value="" selected>--none--</option>
                <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" [(ngModel)]="expenseData.Description" placeholder="Enter Description"
          style="margin-bottom: 5px;" name="description" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3"></div>
      <label for="currency" class="col-md-1 control-label">Rs.</label>
      <div class="col-md-2">
        <input type="text" class="form-control" [(ngModel)]="expenseData.Total" (change)="onSplit()" id="amount"
          placeholder="amount" name="amount" required>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="form-group row">
            <label for="paidBy" class="col-md-1.5 control-label">Paid by:</label>
            <div class="col-md-2">
              <select class="form-control" [(ngModel)]="this.payerData.PayerId" id="paidBy" name="paidBy" required>
                <option [value]="this.currentUserId" selected>You</option>
                <option *ngFor="let usermember of paidBy" [value]="usermember.user.id">{{usermember.user.name}}</option>
              </select>
            </div>
            <div class="col-md-2"></div>
            <label for="splitBy" class="col-md-1.5 control-label">Split:</label>
            <div class="col-md-3">
              <select class="form-control" id="splitBy" name="splitBy" [(ngModel)]="expenseData.SplitBy"
                (change)="onSplit()" required>
                <option>Equally</option>
                <option>Unequally</option>
                <option>By Percentage</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row" *ngIf="this.isIndividual === true">
      <div class="col-4"></div>
      <div class="col-7">
        <span>
          <div class="row">
            <div class="col-md-2"><label for="you" class="col-md-1.5 control-label">You</label></div>
            <div class="col-md-4"><input type="number" class="form-control" style="margin-bottom: 5px;" name="user"
                [(ngModel)]="this.myShare" (change)="onSplit()" required></div>
          </div>
        </span>
        <span>
          <div class="row">
            <div class="col-md-2"><label class="col-md-1.5" name="user"
                is="friendid">{{this.selectedFriend.name}}</label></div>
            <div class="col-md-4"><input type="number" class="form-control" style="margin-bottom: 5px;" name="user"
                [(ngModel)]="this.selectedFriendShare" (change)="onSplit()" required></div>
          </div>
        </span>
      </div>
    </div>
    <div class="row" *ngIf="this.isIndividual === false">
      <div class="col-4"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-md-2"><label class="col-md-1.5" name="user">You</label></div>
          <div class="col-3"><input type="number" class="form-control" style="margin-bottom: 5px;" name="user"></div>
          <div class="col-1"><input #mybox type="checkbox" (change)="onCheck(mybox.checked,this.currentUserId)" name="me">
          </div>
        </div>

        <span *ngFor="let usermember of expenseBetween;let i = index;" ngForm>
          <div class="row">
            <div class="col-md-2"><label class="col-md-1.5" name="usermember">{{usermember.user.name}}</label></div>
            <div class="col-3"><input type="number" class="form-control" style="margin-bottom: 5px;" name="user"></div>
            <div class="col-1"><input #mybox type="checkbox" (change)="onCheck(mybox.checked,usermember.user.id)"></div>
          </div>
        </span>
      </div>
    </div>

    <br>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-2">
              <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-secondary">Cancel</button></a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-secondary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>