<header>
    <div>
    <nav class="navbar">
        
        <div class="container">
            <h2 class="navbar-brand">Splitwise</h2>
            
                <ul class="nav justify-content-end">
                    
                  <li class="nav-item">
                    <button style="width:auto" class="nav-link btn btn-link py-0">LOGIN</button>
                      
                  </li>
                  <li class="nav-item">
                    <button style="width:auto" class="nav-link btn btn-link py-0">REGISTER</button>
                </li>
                 
                </ul>
            
        </div>
    </nav>
    </div>
</header>
<router-outlet></router-outlet>